<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true">

    </uses-feature>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tienda_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tienda_icono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendaVirtualApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">
        <activity
            android:name=".Inicio"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".TiendaActivity"
            android:exported="true" />
        <activity
            android:name=".MujerActivity"
            android:exported="true" />
        <activity
            android:name=".CartActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.TiendaVirtualApp.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".GoogleMaps"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true">
    </uses-feature>
</manifest>